.s {
  text-decoration: bold;
  text-indent: 100px;
  text-decoration: underline;
  color: red;
}
h1 {
  text-decoration: bold;
  text-indent: 100px;
  text-decoration: underline;
  color: red;
  text-align: center;
}
.container {
  background-color: lightgoldenrodyellow;
  width: 100%;
  padding: 2px;
}
.container a {
  color: #0000 0;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}
.container a:hover {
  color: white;
}
