@color:#0000;
@bar_color:lightgoldenrodyellow;
@back-color:red;
@size : 100px;


.s{
    text-decoration:bold;
    text-indent:@size;
    text-decoration:underline;
    color:red;
}

h1{
    .s();
    text-align:center;
}

.container{
    background-color:@bar_color;
    width:100%;
    padding:2px;
}

.container a{
    color:@color;
    font-size:20px;
    padding: 5px 10px 5px 10px;

}

.container a:hover{
    color:white;
}
