<!DOCTYPE html>
<html lang="eng">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="a.css"/>
        <title>{{page}}</title>
    </head>
    <body>
        <div class="container">
            <a href="pokemon1">{{one}}</a>
            <a href="pokemon2">{{two}}</a>
            <a href="pokemon3">{{three}}</a>
            <a href="pokemon4">{{four}}</a>
        </div>
    </body>
</html>