<!DOCTYPE html>
<html lang="eng">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="a.css"/>
        <title>{{page}}</title>
    </head>
    <body>
       <h1>{{page}}</h1>
    </body>
</html>