<!DOCTYPE html>
<html lang="eng">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="a.css"/>
        <title>{{page}}</title>
    </head>
    <body>
       <table>
           {% for id in pokemon %}
           <tr><td>{{pokemon[id]}}</td>
               <td>{{pokemon[nat]}}</td>
               <td>{{pokemon[names]}}</td>
           </tr>
           {% endfor %}
       </table>
    </body>
</html>